body{
  margin: 30px;
}

.showborder{
    border: 2px solid orange;
}
.parent {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.left-container{
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: 1fr;
  justify-content: center;
  align-content: center;
}
.left-container img{
  justify-content: center;
  align-content: center;
  width: 200px;
}

.right-container{
  display:grid;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-template-columns: 300px;
}

.upgrade-container{
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr;
  grid-template-areas: 
    "image text";
}

.upgrade-container img{
  grid-area: image;
  max-width: 100%;
}

.upgrade-container p{
  grid-area: text;
}

.upgrade-flex{
  display: flex;
  flex-wrap: wrap;
}
.top-left {
  flex: 50%; 
}

.bottom-left {
  flex: 50%;
}


/* ---------------------------*/
#myProgress {
  width: 100%;
  background-color: grey;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: green;
}